.vit{
   background-color: #7B68EE;
}
.add{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent-parallel{
    padding-top: 30px;
    display: flex;
    height: 1000px;
    margin:0 20px;   
}
.parallel-1{
    flex: 30%;
    background-color: #79d279;
    padding: 2%;
    border-radius: 90px; 
    height: 2500px;
}
.parent-parallel p{
    color: whitesmoke;
    font-size: 25px;
}
.parallel-2{
    flex: 30%;
    background-color: #85a3e0;
    margin:0 20px;
    padding: 2%;
    border-radius: 90px;
    height: 2500px;
}.club-box{
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 180px;
    text-decoration: none;
    background-color: #d1e0e0;
    border-radius: 50px;
    margin: 20px;
    padding: 25px;
    box-sizing: border-box;
    overflow: hidden;
    transition: all ease 0.3s;
}
.club-box img{
    width: 200px;
    height: 140px;
    display: flex;
    padding-bottom: 30px;
    padding-top: 0px;
    padding-right: 80px;
    object-fit: contain;
    object-position: center;
   
}
.club-box p{
    color: black;
    text-align: center;
    font-size: 15px;
}
.column {
    float: left;
    width: 25%;
  }
  


